
<div class="section-3">
  <div class="container">
    <div class="section-3__wrap">
      <div class="section-3__image"><img class="section-3__bg-main" src="assets/image/girl-hold-dog.png" alt="New friend"/><img class="section-3__bg-left" src="assets/image/rec-10-sec3.svg" alt="New friend"/></div>
      <div class="section-3__content"><img class="section-3__bg-mobile" src="assets/image/rec-9-mobile-sec3.svg"/>
        <h2 class="section-3__title">Thêm một bạn</h2>
        <h3 class="section-3__sub-title">Thêm ngàn niềm vui</h3>
        <p class="section-3__desc">Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!</p><img class="section-3__bg-right" src="assets/image/rec-9-sec3.svg" alt=""/>
        <div class="section-3__buttons"><a class="button" href="#">Giới Thiệu <i class="fa-regular fa-circle-play"></i></a><a class="button button--primary button-margin" href="#">Khám Phá Ngay</a></div>
      </div>
    </div>
  </div>
</div>