.section-3
    .container
        .section-3__wrap
            .section-3__image
                img(src="assets/image/girl-hold-dog.png", alt="New friend" class="section-3__bg-main")
                img(src="assets/image/rec-10-sec3.svg", alt="New friend" class="section-3__bg-left")
            .section-3__content
                img(src="assets/image/rec-9-mobile-sec3.svg" class="section-3__bg-mobile")
                h2.section-3__title Thêm một bạn
                h3.section-3__sub-title Thêm ngàn niềm vui
                p.section-3__desc Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
                img(src="assets/image/rec-9-sec3.svg", alt="" class="section-3__bg-right")
                .section-3__buttons
                    a(href="#" class="button") Giới Thiệu <i class="fa-regular fa-circle-play"></i>
                    a(href="#" class="button button--primary button-margin" ) Khám Phá Ngay

